/* arvo-regular - latin */
@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/arvo-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/arvo-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container{
    font-size: 15px;
    color: rgb(85, 85, 85);
    font-family: 'Avro', Arial, Helvetica, sans-serif, Times, serif;
    max-width: 60%;
    height: auto;
    flex-basis: 1000px;
    /* background-color: yellow; */
    display: flex;
    margin: 0 auto;
    /* flex-direction: column;
    flex-wrap: nowrap; */
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 1%;
    /*align-items: center;*/
}

.item{
    margin: 1%;
    /* border-radius: 8px;
    box-shadow: 1px 2px 5px black; */
}
.header{
    padding: 1%;
    text-align: center;
    background-color: gainsboro;
    flex-grow: 1;
    flex-shrink: 1;
    /* border-radius: 8px;
    box-shadow: 1px 2px 5px black; */
}

.mid {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 5;
    flex-shrink: 1;
    justify-content: space-between;
    margin: 0;
    /* background-color: yellowgreen; */
    
}
.middleboxes{
    width: 45%;
    background-color: gainsboro;
    margin: 1%;
    padding: 2%;
    /* border-radius: 8px;
    box-shadow: 1px 2px 5px black; */
}
.footer{
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    flex-shrink: 1;
    justify-content: space-between;
    background-color: gainsboro; 
    /* border-radius: 8px;
    box-shadow: 1px 2px 5px black; */
}
.footerboxes{
    width: 30%;
    margin: 1%;
    padding: 1%;
    background-color: rgb(173, 173, 173); 
    /* border-radius: 8px;
    box-shadow: 1px 2px 5px black; */
}

/* CSS For Slider taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 50%; /* Full-width */
    height: 5px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%; /* Round Slider */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    /*border-radius: 50%;*/
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Smaller than 1024 pixels */
@media screen and (max-width: 1024px) {
    .container{
        width: 80%;
    }
    .m1{
        order: 2;
    }
    .m2{
        order: 1;
    }
    .mid {
        /* flex-wrap: wrap;
        flex-direction: column; */
        flex-flow: column wrap;
        justify-content: space-around;
    }
    .middleboxes{
        width: auto;
    }
}
/* Smaller than 768 pixels */
@media screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    .m1{
        order: 2;
    }
    .m2{
        order: 1;
    }
    .mid {
        /* flex-wrap: wrap;
        flex-direction: column; */
        flex-flow: column wrap;
        justify-content: space-around;
    }
    .middleboxes{
        width: auto;
    }
    .f1{
        order: 1;
    }
    .f2{
        order: 0;
    }
    .f3{
        order: 2;
    }
    .footer{
        /* flex-wrap: wrap;
        flex-direction: column; */
        flex-flow: column wrap;
        justify-content: space-evenly;
    }
    .footerboxes{
        width: auto;
    }
}