/* arvo-regular - latin */
@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/arvo-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/arvo-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container{
    font-size: 15px;
    color: rgb(85, 85, 85);
    font-family: 'Avro', Arial, Helvetica, sans-serif, Times, serif;
    width: 1000px;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
    flex-wrap: wrap;
}

.horizontal-row {
    width: 100%;
    margin-bottom: 20px;
}

.header{
    text-align: center;
    background-color: gainsboro;
    padding: 20px;
    padding-top: 10px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middleboxes{
    min-height: 220px;
    width: 45%;
    background-color: gainsboro;
    padding: 20px;
    margin: 1%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gainsboro;
    padding-bottom: 15px;
    padding-top: 15px;
    min-height: 22px;
    width: 100%;    
}
.footer_box{
    min-height: 98%;
    width: 27%;
    padding: 20px;
    background-color: rgb(173, 173, 173);
    margin: 1%;
    
}

/* CSS For Slider taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

@media (max-width: 800px) {
    .header {
        width: 50%;
    }
    .mid {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
        width: 50%;
    }
    .footer_box {
        width: 90%;
    }
}